altgraph==0.17
aniso8601==9.0.1
apispec==4.3.0
asgiref==3.3.1
chardet==4.0.0
click==7.1.2
dateparser==1.0.0
Django==3.1.7
djangorestframework==3.12.4
Flask==1.1.2
flask-json-api==1.0.0
flask-marshmallow==0.14.0
flask-rest-api==0.17.1
Flask-RESTful==0.3.8
future==0.18.2
gunicorn==20.1.0
invoice2data==0.3.5
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.11.0
nodejs==0.1.1
npm==0.1.1
optional-django==0.1.0
pefile==2021.5.24
Pillow==8.2.0
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
regex==2021.4.4
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
touch==2020.12.3
tzlocal==2.1
Unidecode==1.2.0
urllib3==1.26.3
values==2020.12.3
webargs==7.0.1
Werkzeug==1.0.1
wfastcgi==3.0.0
waitress==2.0.0
